/* Stylesheet for Tea Cozy */


/* basic background*/


* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
  border: 1px solid red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* before header */

#before-header {
  height: 69px;
  width: 100%;
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  top: 0;
  z-index: 1;
}

/* logo */
#logo {
  margin: auto 10px;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  text-decoration: underline;
  padding: 10px;
}

a {
  display: block;
}

/* header  */

header {
  background-image: url("img/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  margin: auto;
}

#header-titles {
  width: 100%;
}